
#letras__titulo {
    color: $colortitulo;
    -webkit-text-stroke:$webkit-text-strokebordestitulo;
    grid-area: cabeza;
    display: flex;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    right: 20;
  }
  
.cabeza__formulario {
    color: $colorformulario;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
  
#imagen {
    margin: $marginimagen;
    padding: $paddingimagen;
    transition: all 1s;
    text-align: center;
}
  
#imagen:hover {
    margin: 15px;
    padding: 15px;
    text-align: center;
}

table{
  width: 100%;
  text-align: center;
}