body {
    background-image: url(../Imagenes/Inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Mada", sans-serif;
  }
  
  .Contacto {
    background-image: url(../Imagenes/Contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Mada", sans-serif;
  }
  
  .Galeria {
    background-image: url(../Imagenes/Galeria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Mada", sans-serif;
  }
  
  .Informacion {
    background-image: url(../Imagenes/Informacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Mada", sans-serif;
  }
  
  .Nosotros {
    background-image: url(../Imagenes/Nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Mada", sans-serif;
  }
  
  #fondo {
    background-image: linear-gradient(to right, #000000, #123009);
  }
  