$backgroundfondo: linear-gradient(to right, #000000, #123009);
$colortitulo: #f0f8ff;
$webkit-text-strokebordestitulo: 1px #000000;
$colorformulario: #000000;
$marginimagen: 10px;
$paddingimagen: 10px;